/* Global Styles */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    background: #444444;
}

a:link, a:visited, a:link:active, a:visited:active {
    text-decoration: none;
    color: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Header */
header {
    font-size: 2.4rem;
    background: #262626;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-between;

    a, p {
        padding: 3rem 5rem;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #303030;
}

::-webkit-scrollbar-thumb {
    background: #6d6d6d;
    border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
