---
title: My first page
layout: base.njk
templateEngineOverride: njk,md
---

<h1>Hello World</h1>

<p>This is a paragraph.</p>

<h2>List of posts</h2>

{% include "postlist.njk" %}

<h2>Random Cat</h2>

<img src="{{ catpic }}" />